<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Armazenamento seguro de dados sensíveis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-item>
      <ion-input label="Nome:" labelPlacement="floating" placeholder="Enter text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email:" labelPlacement="floating" placeholder="Enter text"  [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nota Privada:" labelPlacement="floating" placeholder="Enter text" [(ngModel)]="nota"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Chave Secreta:" labelPlacement="floating" placeholder="Enter text"  [(ngModel)]="chaveSecreta"></ion-input>
    </ion-item>


<br>
    <ion-button  class="button" shape="round" fill="outline" expand="full"(click)="Criptografar()">Criptografar</ion-button>


</ion-content>

<style>

  .button{
    --border-color: #006805;
    --border-width: 2px;
    --color: #006805;
    border-left: 2px ;
    border-right: 2px;
    margin-right: 40px;
    margin-left: 40px;
  }
</style>
